html, body, #wrapper { 
    width:100%;
    height: 100%;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

body {
  background-color: #eaedf0;
}

#wrapper {
    box-shadow: inset 0 0 490px black;
    overflow: auto;
}
