html, body, #wrapper { 
    width:100%;
    height: 100%;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

body {
  background-color: white;
}

.ul {
   width: 1000px;
}

#wrapper {
    box-shadow: inset 0 0 490px grey;
    overflow: auto;
}

.split {
    display: flex;
    width: 1000px;
    margin: 0 auto;
}

.first-half-left {
    width: 60%;
    float: left;
}

.second-half-right {
    width: 35%;
    float: right;
}

.img {
    width: 500px;
    height: 200px;
}

.first-half-right {
    width: 60%;
    float: right;
}

.second-half-left {
    width: 35%;
    float: left;
}

h3 {
    width: 1000px;
}

h1 {
  font-size: 40px;
}

p {
    width: 1000px;
}

@media screen and (max-width: 1200px) {
    h1 {
        font-size: 35px;
    }
    .container {
        width: 100%;
    }
    h3 {
        width: 100%;
    }
    p {
        width: 100%;
    }
    .ul {
        width: 100%;
    }
}

@media screen and (max-width: 1000px) {
    .split {
        width: 100%;
    }
    .img {
        width: 100%;
        height: 200px;
    }
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 25px;
    }
}
