ul.ulnavbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li.linavbar {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 18px 20px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #2484d3;
}

.ulnavbar .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .ulnavbar li:not(:first-child) {display: none;}
  .ulnavbar.responsive {position: relative;}
  .ulnavar a.icon {
    float: right;
    display: block;
  }
  .ulnavbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .ulnavbar.responsive li {
    float: none;
    display: block;
    text-align: left;
  }
}


